* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

h1 {
  color: aliceblue;
  font-size: xx-large;
}

#navbar {
  background-color: darkmagenta;
  display: flex;
  justify-content: space-around;
  padding: 8px 13px;
  flex-wrap: wrap;
}

#navbar_01,
#navbar_02 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: larger;
  color: aliceblue;
}

#navbar_01 > p {
  border: none;
  border-radius: 15px;
  background-color: green;
  padding: 5px 12px;
  transition: all ease-in-out 1s;
}

#navbar_02 > span {
  border: 3px solid black;
  border-radius: 15px;
  padding: 5px 12px;
  transition: all ease-in-out 1s;
}

#navbar_01 > p:hover {
  border: 5px solid black;
  border-radius: 10px;
  padding: 5px 12px;
  cursor: pointer;
}

#navbar_02 > span:hover {
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 5px 12px;
  background-color: green;
  color: aliceblue;
}

@media (max-width: 600px) {
  h1 {
    font-size: large;
    text-align: center;
  }

  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar_01,
  #navbar_02 {
    flex-direction: column;
    gap: 15px;
    font-size: medium;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  h1 {
    font-size: x-large;
    text-align: center;
  }

  #navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #navbar_01,
  #navbar_02 {
    gap: 20px;
    font-size: large;
  }
}

@media (min-width: 901px) {
  h1 {
    font-size: xx-large;
  }

  #navbar_01,
  #navbar_02 {
    gap: 30px;
    font-size: larger;
  }
}
